/* Section Recherche */
main {
    padding: 20px;
    margin-top: 5rem;
  }

  .recherche {
    text-align: center;
    margin-top: 15px;
  }

  .recherche h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #2c3e50;
  }

  .bar-recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-bottom: 1%;
    margin-left: 390px;
  }

  .bar-recherche input[type="text"] {
    width: 60%;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: box-shadow 0.3s;
  }

  .bar-recherche input[type="text"]:focus {
    box-shadow: 0 0 5px #2c3e50;
  }

  .bar-recherche button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #2c3e50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 300px;
  }

  .bar-recherche button:hover {
    background-color: #e5533c;
  }

  /* Résultats de recherche */
  .resultats-div {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(250px, 300px)
    ); /* Contrôle de la taille minimale et maximale */
    justify-content: center; /* Centrer les résultats */
    gap: 20px;
    padding: 20px;
  }

  .movie-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px; /* Fixe la largeur */
    height: 450px; /* Fixe la hauteur */
    margin: auto; /* Centre la carte dans son conteneur */
    overflow: hidden; /* Assure que le contenu ne dépasse pas de la carte */
  }

  .movie-card img {
    width: 100%;
    height: 300px; /* Fixe la hauteur de l'image */
    object-fit: cover; /* Assure que l'image couvre tout l'espace sans déformation */
    border-radius: 5px 5px 0 0;
  }

  .movie-card h3 {
    margin: 5px 0; /* Réduit les marges */
    font-size: 1rem; /* Réduit la taille de la police */
    color: #2c3e50;
  }

  .movie-card p {
    margin: 0 10px 5px; /* Réduit les marges */
    font-size: 0.8rem; /* Réduit la taille de la police */
    color: #555;
  }

  .movie-card a {
    display: inline-block;
    margin: 5px 0; /* Réduit les marges */
    padding: 5px 10px; /* Ajoute du padding pour le bouton */
    font-size: 0.9rem; /* Réduit la taille de la police */
    color: #fff;
    background-color: #2c3e50;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .movie-card a:hover {
    background-color: #e5533c;
  }

  /* Bouton Charger Plus */
  #charger {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #2c3e50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #charger {
    background-color: #34495e;
  }